body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    
}
#wrapper{
    min-height: 100%;
    position: relative;

}
#wrapperr{
    min-height: 100%;
    position: relative;
    background-image: url(images/index.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
#header{
    background-color:silver;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#header ul li a{
   color:black;
}
#logo{
    padding-left: 20px;
    margin:0px;
    padding-top: 8px;

}
#body{
    margin-top: 0px;
    padding: 0px 10px 10px 10px;
    padding-bottom: 70px; /*height of footer, important*/
    text-align: center;
}
#footer{
    position: absolute;
    bottom:-70px;
    width:100%;
    height: 70px;/* height of footer*/
    background-color: #333;
    text-align: center;
    color:white;
    padding-top:20px; 
}
ul{
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: 0px;
    
}
li{
    float :left ;
}
li a{
    text-decoration: none;
    display:block;
    color: white;
    font-size: 20px;
    padding: 14px 18px;
    text-align: center;
}

li a:hover {
    background-color: green;
}

.active{
    background-color:goldenrod;
}

.intro{
    color:sienna;
    font-size: 26px;
    border: 80px;
    margin: 24px 3px;
    padding: 20px 5px;
    
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
    table{
        font-size: 10px;
    }
    h2{
        font-size:15px;
    }
    #header a{
        font-size: 10px;
    }
    button{
        size: 6px;
    }
}
* {
    box-sizing: border-box; /* makes the last column appear inline*/
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width:780px) {
    .column {
        width: 100%;
    }
}

input[type=button]{
    width:40%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]{
    width:40%;
    background-color: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea{
    width: 100%;
    height: 140px;
}
#form{
    max-width: 40%;
    margin-left:auto;
    margin-right: auto; 
    margin-top: 15px;
    padding-top: 24px;
    text-align: left;
    color: black;

}
.form_title{
    background-color: silver;
    padding: 1px 0;
    color: black;
    text-align: center;
}
#body h2{
    background-color: black;
    padding: 9px 0;
    color: white;
}
#body h5{
    display: inline;
    margin-left: 19px;
}
#body button{
    float:left;
    margin-left: 19px;
    margin-top: 9px;
    margin-bottom: 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px;
}


tr:nth-child(even){background-color: #f2f2f2}
#table{
    overflow-x:auto;
}

#nav{
    text-decoration:none; 
    
}
a {
    text-decoration: none;
}
#right{
    float: right;
}
.column {
    min-width: 250px; /* Minimum width of your wrapper element */
    overflow: hidden;
    display: inline-block;
  }
.column {
    float: left;
    width: 49.33%;

}
.column h4{
    color: dodgerblue;
    text-align: left;
}
.column p{
    text-align:left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.column #answerForm{
    text-align: left;
}

.container {
    padding: 4px 16px;
}
@media screen and (min-width:900px) {
    .answer {
        width: 100%;
    }
}
.col{
    text-align: left;
    padding-left: 20px;
    
}

#profileImageDisplay{
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
td{
    background-color: white;
}


#Updateprofile{
    width:155px;
    margin:0px;
    margin-left:60px;
}
#question{
    color: dodgerblue;
    text-align: left;
    cursor: pointer;
}

.status{
    padding-left: 60px;
}

#search{
    padding-top:13px;

  }
.search-container{
    width: 290px;
    display: block;
    margin: 0 auto;
  }
  
input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;

   }
  
.search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -25px;
  }
#vote,#votes{
    padding-right: 10px;
    margin: 0px;
}
#vote p {
    display: inline;
    margin-left:13px;
    padding-right:20px; 
    cursor: pointer;
    color: white;
    font-weight: 500px;
}
#votes p {
    display: inline;
    margin-left:8px;
    padding-right:60px; 
    color: white;
    font-weight: 500px;
}
#comment{
    padding: 0px;
    text-align: left;
    font-style: italic;
}


#delete{
    color: red;
    cursor: pointer;
    padding-left: 20px;
}
#edit{
    color:green;
    cursor: pointer;
    padding-left: 10px;
}
.index{
    width: 80%;
    margin: auto;
    color: white;
    font-weight: 100
}
.index h3{
    padding: 22px 12px 0px 12px;
    font-size: 50px;
    margin-top:90px;
}
#quizTitle{
    cursor: pointer;
   color: dodgerblue;
}
.wrap{
    width: 75%;
    margin: auto;
    background-color: #ccc
}
#answer{
    background-color: white;
    border: 16px solid white;
    padding: 5px 2px;
    margin: 2px 25px 2px 25px;
    border-radius: 22px;
    box-sizing: border-box;

}
#answer p{
    margin: 3px;
    padding: 1px;
    color: springgreen;
    text-justify: inter-cluster;
    text-align: left
}
#answer a{
    color: darkgreen;
    text-justify: inter-cluster;
    cursor: pointer;
    padding-right: 9px;
    margin-right: 6px;
}
#quiz-form{
    background-color: white;
    border: 11px solid white;
    padding: 5px 2px;
    margin: 2px 25px 2px 25px;
    border-radius: 22px;
    box-sizing: border-box;
}

#logo{
    padding-right: 29px;
}
#quizBody, #answerBody{
    height: 80px;;
}
#ruler{
    width: 50%;
    padding: 4px;
    background-color: white;
}